In [1]:
import pandas as pd
import numpy as np

In [18]:
df1=pd.DataFrame([['HF',65],                 
                 ['HF',64.3],
                 ['JP',41.6],
                 ['JP',np.nan],
                 ['CE',64]],
                 columns=['CLI','FEGL'])

In [19]:
df1

  CLI  FEGL
0  HF  65.0
1  HF  64.3
2  JP  41.6
3  JP   NaN
4  CE  64.0

In [20]:
df1[df1['FEGL']>50 & ~df1['FEGL'].isna()]

  CLI  FEGL
0  HF  65.0
1  HF  64.3
2  JP  41.6
4  CE  64.0

In [22]:
df1[(df1['FEGL']>50) & (df1['FEGL']<=64)]

  CLI  FEGL
4  CE  64.0