In [2]:
import pandas as pd
import numpy as np

In [2]:
#using numpy's randint
df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD'))

In [3]:
df

    A   B   C   D
0  29  97  54  63
1  35  83  51  86
2  86  94  85  93
3   1  64  55  10
4  61  31   0   9
5  59  35  85   2
6  11  15   0  62
7  58  64  56  36
8  19  92   2  67
9  16  69  13  42

In [4]:
df.loc[:5,['E']]='Z'
#df.loc[:5,['G']]=np.random.uniform(20,70)
df['RANDOMGRADE'] = np.random.uniform(20,70, df.shape[0])

In [5]:
df

    A   B   C   D    E  RANDOMGRADE
0  29  97  54  63    Z    24.846607
1  35  83  51  86    Z    67.736301
2  86  94  85  93    Z    37.217190
3   1  64  55  10    Z    62.256648
4  61  31   0   9    Z    25.408580
5  59  35  85   2    Z    65.390410
6  11  15   0  62  NaN    49.792050
7  58  64  56  36  NaN    66.240648
8  19  92   2  67  NaN    32.733025
9  16  69  13  42  NaN    60.781919

In [48]:
def AB(a,b):
    return a+b

In [49]:
df.loc[:, ['DONE']] = 0
#df.loc[:i, ['RUN']] = np.nan
t = df.iloc[:0,:].copy()

In [52]:
for i in df.index:
    df.loc[:i, ['DONE']] = 1
    df.loc[:i, ['RUN']] = i
    df.loc[:i+1, ['AB']] = df[:i+1].A + df[:i+1].B
    df.loc[:i+1, ['AB2']] = df[:i+1].apply(lambda x: AB(x.A, x.B), axis=1)
    
    j = df['DONE'] == 1
    
    done = df.loc[j, :]  
   
    t=t.append(done, ignore_index=True)
    
    if(i==3):
        break

In [53]:
t

    A   B   C   D  E  RANDOMGRADE  DONE  RUN     AB    AB2
0  29  97  54  63  Z    24.846607     1    0  126.0  126.0
1  29  97  54  63  Z    24.846607     1    1  126.0  126.0
2  35  83  51  86  Z    67.736301     1    1  118.0  118.0
3  29  97  54  63  Z    24.846607     1    2  126.0  126.0
4  35  83  51  86  Z    67.736301     1    2  118.0  118.0
5  86  94  85  93  Z    37.217190     1    2  180.0  180.0
6  29  97  54  63  Z    24.846607     1    3  126.0  126.0
7  35  83  51  86  Z    67.736301     1    3  118.0  118.0
8  86  94  85  93  Z    37.217190     1    3  180.0  180.0
9   1  64  55  10  Z    62.256648     1    3   65.0   65.0

In [37]:
t.to_csv('verificar2.csv')

In [34]:
83+35

118

In [5]:
import math

In [8]:
origin=[0,0]

In [9]:
point =[100,100]

In [10]:
math.dist(origin, point)

141.4213562373095

In [13]:
g1 =-20
g2 = 40

In [15]:
math.dist([g1],[g2])

60.0

In [3]:
g3=[np.nan]
g4=[65]

In [6]:
math.dist(g3,g4)

nan

In [20]:
len(list)

2

In [38]:
list=['FEGL', 'SIGL', 'PGL', 'ALGL', 'MNGL', 'PFGL']

for i in range(len(list)):
    
    for j in range(len(list)):
        if(j >= i):
            st = list[i] + "_" + list[j]
            print(st)

FEGL_FEGL
FEGL_SIGL
FEGL_PGL
FEGL_ALGL
FEGL_MNGL
FEGL_PFGL
SIGL_SIGL
SIGL_PGL
SIGL_ALGL
SIGL_MNGL
SIGL_PFGL
PGL_PGL
PGL_ALGL
PGL_MNGL
PGL_PFGL
ALGL_ALGL
ALGL_MNGL
ALGL_PFGL
MNGL_MNGL
MNGL_PFGL
PFGL_PFGL

In [27]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry