In [1]:
import pandas as pd

In [4]:
train =  pd.read_csv('http://bit.ly/kaggletrain')
train.head()

                                     <!DOCTYPE html>
0                                             <html>
1                                             <head>
2                          <title>Loading...</title>
3                    <script type="text/javascript">
4      location.replace("/main?X-OpenDNS-Session=...

## USING MAP

In [3]:
train['Sex_num'] = train.Sex.map({'female':0, 'male':1})

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [ ]:
train.loc[0:4, ['Sex', 'Sex_num']]

## USING APPLY

In [8]:
train['Name_length'] = train.Name.apply(len)

In [10]:
train.loc[0:4,['Name', 'Name_length']]

                                                Name  Name_length
0                            Braund, Mr. Owen Harris           23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           51
2                             Heikkinen, Miss. Laina           22
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           44
4                           Allen, Mr. William Henry           24

## ROUNDING COLUMN FARE

In [15]:
import numpy as np

In [19]:
train['Fare_ceil'] = train.Fare.apply(np.ceil)

In [20]:
train.loc[0:4,['Fare', 'Fare_ceil']]

      Fare  Fare_ceil
0   7.2500        8.0
1  71.2833       72.0
2   7.9250        8.0
3  53.1000       54.0
4   8.0500        9.0

## ANOTHER PROBLEM

## CORE MESSAGE: APPLY IS A SERIES METHOD!!!

In [22]:
#extracting list to get surname

In [23]:
train.Name.str.split(',').head()

0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
Name: Name, dtype: object

In [24]:
def get_element(my_list, position):
    return my_list[position]

In [ ]:
#series method

In [25]:
train.Name.str.split(',').apply(get_element, position=0).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

In [ ]:
#using lambda function

In [26]:
train.Name.str.split(',').apply(lambda x: x[0]).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

## DATAFRAME METHOD

In [38]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [39]:
drinks.head()

                                     <!DOCTYPE html>
0                                             <html>
1                                             <head>
2                          <title>Loading...</title>
3                    <script type="text/javascript">
4      location.replace("/main?X-OpenDNS-Session=...