In [2]:
import pandas as pd
import numpy as np

In [18]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=df.loc[x.index, "LENGTH"])

In [25]:
# initialize data of lists.
data = {
    'LITO':['HC', 'HC', 'HF', 'HF','JP','JP'],
    'LENGTH':[10, 10, 10, 20,100,10],
    'FEGL':[62,64,60,64,42,50]
}

In [26]:
# Create DataFrame
df = pd.DataFrame(data)

In [27]:
df

  LITO  LENGTH  FEGL
0   HC      10    62
1   HC      10    64
2   HF      10    60
3   HF      20    64
4   JP     100    42
5   JP      10    50

In [28]:
# Groupby and aggregate with namedAgg [1]:
df.groupby(['LITO']).agg(AVERAGE=('FEGL', wm))

        AVERAGE
LITO
HC    63.000000
HF    62.666667
JP    42.727273

In [23]:
(10*60+20*64)/30

62.666666666666664

In [24]:
(100*42+10*50)/110

42.72727272727273