In [3]:
import pandas as pd

arquivo = pd.read_csv('C:/DADOS/wine_dataset.csv')

In [4]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [5]:
# a coluna que identifica se o vinho é tinto ou branco é a styke
# devemos substituir essas strings por 0 e 1
arquivo['style'] =  arquivo['style'].replace('red',0)
arquivo['style'] =  arquivo['style'].replace('white',1)

In [6]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [7]:
# Separando as variáveis entre as preditoras e variável alvo
y = arquivo['style']
x = arquivo.drop('style', axis =1)

In [22]:
x.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [23]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: style, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

# criando conjuntos de dados de treino e teste com 70% dos dados para teste
# e 30% de dados para teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)


arquivo.shape

(6497, 13)

In [20]:
x_teste.shape

(1950, 12)

In [21]:
x_treino.shape

(4547, 12)

x_treino.head()

In [11]:
# Classificação por árvores de decisão
from sklearn.ensemble import ExtraTreesClassifier
# Criação do modelo:
modelo = ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino, y_treino)

# Imrpimindo Resultados:
resultado = modelo.score(x_teste, y_teste)
print("Acurácia: ", resultado)

Acurácia:  0.997948717948718

In [12]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
848,6.4,0.64,0.21,1.8,0.081,14.0,31.0,0.99689,3.59,0.66,9.8,5
2859,6.4,0.23,0.30,7.1,0.037,63.0,236.0,0.99520,3.06,0.34,9.2,6
3574,6.8,0.27,0.35,7.8,0.048,76.0,197.0,0.99590,3.24,0.43,9.5,6

In [13]:
y_teste[400:403]

848     0
2859    1
3574    1
Name: style, dtype: int64

In [14]:
#testando
previsoes = modelo.predict(x_teste[400:403])

In [15]:
previsoes

array([0, 1, 1], dtype=int64)